pip-tools==7.5.2
poetry==1.8.5
keyrings.google-artifactregistry-auth==1.1.2
poetry-dynamic-versioning[plugin]==1.9.1
poetry-plugin-up==0.9.0
flake8==7.3.0
codespell==2.4.1
pydantic==2.12.4
mypy==1.18.2
jeepney==0.9.0
SecretStorage==3.5.0
poetry-plugin-export==1.8.0
