pip-tools==7.4.1
poetry==1.8.2
keyrings.google-artifactregistry-auth==1.1.2
poetry-dynamic-versioning[plugin]==1.2.0
poetry-plugin-up==0.7.1
flake8==7.0.0
codespell==2.2.6
pydantic==2.7.0
mypy==1.9.0
jeepney==0.8.0
SecretStorage==3.3.3