version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "daily"
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"
  - package-ecosystem: "docker"
    directory: "images/devtools-golang-v1beta1/context/"
    schedule:
      interval: "daily"
  - package-ecosystem: "docker"
    directory: "images/devtools-kubernetes-v1beta1/context/"
    schedule:
      interval: "daily"
  - package-ecosystem: "docker"
    directory: "images/devtools-terraform-v1beta1/context/"
    schedule:
      interval: "daily"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
