version: "3"

services:
  devtools:
    build:
      context: .
      dockerfile: Dockerfile.devtools
    working_dir: /tmp/workspace
    volumes:
      - .:/tmp/workspace:z
      - devtools-venv:/tmp/workspace/.venv
      - xdg-cache-home:/root/.cache
      - ${DOCKER_SOCK:-/var/run/docker.sock}:/var/run/docker.sock:z
    environment:
      DOCKER_HOST: unix:///var/run/docker.sock
      HOST_PATH: ${PWD}
    command: ["make", "all"]
    ports:
      - "127.0.0.1:32604:32604"
  hadolint:
    image: ghcr.io/hadolint/hadolint:2.8.0-alpine@sha256:6c4b7c23f96339489dd35f21a711996d7ce63047467a9a562287748a03ad5242
    volumes:
      - .hadolint.yaml:/.hadolint.yaml:z
  dockle:
    image: docker.io/goodwithtech/dockle:v0.4.3@sha256:6771d453cdeaad77ae5bb0cd75ba1637243108fae7f2caa393ae63035cb88721
    volumes:
      - ./var/oci-images:/srv/images:ro,z
  docker-lock:
    image: safewaters/docker-lock:latest@sha256:432d90ddc2891f4845241adc63e5eef2dd1486fa14ea7882433cbd3f8ed64622
    working_dir: /tmp/workspace
    volumes:
      - .:/tmp/workspace:z
volumes:
    xdg-cache-home: {}
    devtools-venv: {}
