pip-tools==7.4.1
poetry==1.8.3
keyrings.google-artifactregistry-auth==1.1.2
poetry-dynamic-versioning[plugin]==1.4.0
poetry-plugin-up==0.7.1
flake8==7.1.0
codespell==2.3.0
pydantic==2.8.2
mypy==1.10.1
jeepney==0.8.0
SecretStorage==3.3.3