on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: "Override default log level"
        required: false
        default: "debug"
        type: string

  schedule:
    - cron: "0 4 * * 1"

jobs:
  renovate:
    permissions:
      contents: write
      pull-requests: write
      id-token: write
      issues: write
    uses: coopnorge/github-workflow-renovate/.github/workflows/renovate.yaml@v0
    secrets: inherit
    with:
      extra-env-vars: |
        GONOSUMDB=github.com/envoyproxy/protoc-gen-validate,github.com/coopnorge
        GONOPROXY=github.com/envoyproxy/protoc-gen-validate,github.com/coopnorge
