---
name: Security
on:
  push: {}
  pull_request: {}
  schedule:
    - cron: '0 0 * * *'
jobs:
  supply-chain-security-validation:
    name: Supply Chain
    uses: coopnorge/github-workflow-supply-chain-security-validation/.github/workflows/supply-chain-security-validation.yaml@main
